---
---

@charset "utf-8";

@import "minimal-mistakes/skins/air";
@import "minimal-mistakes";

.page__hero--overlay {
  min-height: 100vh;

  p {
    color: #fff;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.125em;
  }
}

.site-logo + .site-title {
  display: none;
}

.site-logo img {
  max-height: 4rem;
}

.page__content .align-right {
  max-width: 220px;
}
